* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hc {
  flex: 1 0 auto;
}
.content {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 10%;
}
.header, #header {
  width: 100%;
  height: 8.641975308641975%;
  position: relative;
}
.footer {
  width: 100%;
  /*height: 10.8641975308642%;
  flex: 0 0 auto; */
  position: fixed; /* Фиксированное положение */
  bottom: 0%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */
  background-color: white;

}

.logo {
  padding-left: 3%;
  padding-top: 0.5%;
}
/* .logotext {
  font-size: 40px;
  text-decoration: none;
  margin-top: 20px;
  /*font-family: 'ubuntu', sans-serif;
  font-weight: 600; */
/*  color: black;
  font-family: 'Ubuntu';
  font-weight: 700;
  line-height: 15.4px;

}
.logotext_ru {
  font-size: 32px;
  text-decoration: none;
  font-family: 'Ubuntu';
  color: #fb8c00;
  margin-top: 20px;
} */

.right_menu {
float: right;
  margin-top: 15px;


}

.left_menu {
  text-align: left;
  margin-left: 19px;
  margin-top: 15px;
    float: left;

}

.right_menu button, .left_menu button {
  padding-left: 15px;
  padding-right: 15px;

  height: 2.5em;
  font-weight:bold;
  text-align: center;
  border-radius: 15px;
  border: solid 2px #dce1e4;
  background: white;
  cursor: pointer;
  text-color: black;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
 align-items: center;
 font-size: 15px;
 font-family: 'Ubuntu';
 letter-spacing: 1.5px;


}



.header_menu {
  margin-right: 100px;
  position:relative;
}

.Headtext {
  font-family: Roboto;
  font-size: 1.605vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000000;
}

.search_field {
  width: 550px;
  height: 50px;
  border-radius: 4px;
  border: solid 2px #dce1e4;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: 0px;
  margin-left: -300px;
  text-align: inherit;
  padding-left: 20px;
  font-family: Roboto-Regular, sans-serif;
  font-stretch: extra-condensed;
  font-size: 16px;

  /* font-family: Roboto-Regular, serif; */

}

.search {
  position: absolute;
  width: 550px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -275px;

}

.search_button {
  width: 90px;
  height: 54px;
  top:0;
  right: 0;
  position: absolute;
  background-color: #dce1e4;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: solid 2px #dce1e4;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;

}

.input:focus {
  border-color: #fb8c00;
  outline: none;
  transition: .5s;
}
.input:focus + .search_button {
  background-color: #ffb74d;
  transition: 0.5s;
  border-color: #ffb74d;
  border-radius: 4px;
}


.placeholder{
  color: #828282;
}
/*
@font-face {
  font-family: 'UbuntuRegular';
  src: local('UbuntuRegular'), url(./UbuntuRegular.ttf) format('ttf');
} */
 /*.head {
  height: 70px;
}
*/
#footer_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    float: left;
    font: 18px Arial, Helvetica, sans-serif;
    height: 40px;


}
#footer_menu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px;
}
#footer_menu ul li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
    text-decoration: underline;
}
 /* #footer_menu ul li a:hover {
    background-color: #666;
} */

.VIN {
  width: 550px;
  height: 100px;
  font-size: 12px;
  /* padding-left: 35%;
  padding-top: 1%; */
  letter-spacing: 1px;
  font-family: 'Ubuntu';
  color: #8e8e8e;
  position: absolute;
  margin-top: 12%;
  opacity: 0.8;
  font-weight: normal;
line-height: 1.6;

}

.VIN-decoration {
  border-bottom: 1px gray dashed;
}

.city {

}

.logo_idetta {
  background-image: url(./images/idetta-logo.svg);
}

ul {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fillRule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%23000' d='M15.133 6.666l-3.66 8.601a1 1 0 0 1-1.887-.137l-.88-3.349-3.348-.88a1 1 0 0 1-.137-1.887l8.6-3.66a1 1 0 0 1 1.312 1.312z'/%3E%3C/g%3E%3C/svg%3E ");
}
